body,
dd,
div,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
li,
ol,
p,
select,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
}

* {
    box-sizing: border-box;
    list-style: none
}

body,
html {
    min-height: 100%;
    font-size: 16px
}

body {
    font-family: "microsoft yahei,HanHei SC,PingHei,PingFang SC,STHeitiSC-Light,Helvetica Neue,Helvetica,Arial,sans-serif";
    font-size: 14px;
    color: #333
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400
}

ol,
ul {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

a {
    text-decoration: none;
    color: #232323
}

table {
    border-collapse: collapse;
    table-layout: fixed
}

input,
textarea {
    outline: 0;
    border: 0
}

textarea {
    resize: none;
    overflow: auto
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: ".";
    width: 0;
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    overflow: hidden
}

.fl {
    float: left
}

.fr {
    float: right
}

.tl {
    text-align: left
}

.tc {
    text-align: center
}

.tr {
    text-align: right
}

.ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.maxlong {
    float: left;
    width: 60%;
    max-width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.maxlong8 {
    width: 80%;
    max-width: 80%;
}

.inline {
    display: inline-block
}


/* .container{padding-top: 1.45rem} */

.colory {
    color: #FF8900;
}

.colord {
    color: #0089ff;
}

.clrok {
    color: #00c626;
}

.color0 {
    color: #000;
}

.color1 {
    color: #1C1C1C;
}

.color9 {
    color: #999;
}

.colora {
    color: #AAAAAA;
}

.colora5 {
    color: #a5a5a5;
}


.colorf {
    color: #fff;
}

.clrdanger {
    color: #ff8900;
}

.link {
    color: #0089ff;
}

.bg-d {
    background: #fff;
}

.border-b {
    border-bottom: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #f0f0f0;
}

.border-top {
    border-top: 1px solid #f0f0f0;
}

.border-c-bottom {
    border-bottom: 1px solid #ccc;
}

.border-c-top {
    border-top: 1px solid #ccc;
}

.border-bottom-e5 {
    border-bottom: 1px solid #dcdbdb;
}

.border-e5-bottom {
    border-bottom: 1px solid #dcdbdb;
}

.hide {
    display: none;
}

.page-wrap {
    overflow: auto;
    /* padding-bottom: 137px; */
}

.noheadercontainer {
    /* position: fixed;  */
    /* top: 72px; */
    /* top: 50px; */
    /* left: 0px;
    width: 100%;
    height: 100%;  */
}

.noheaderscroll {
    overflow: scroll;
    padding-bottom: 50px;
}

.devide {
    height: 10px;
    /* #DCDFE6 */
    background-color: #f0f0f0;
}

.avatar {
    border-radius: 50%;
    border: 1px solid #eaeaea;
}

.defaultbkcolor {
    background-color: #DCDFE6;
    color: #666;
}

.defaultpadhorizontal {
    padding-left: 10px;
    padding-right: 10px;
}

.twarning {
    color: #E6A23C !important;
}

.iconfont.bigfont {
    font-size: 44px;
}

.fontmaintitle {
    font-size: 37px;
}

.fontlarge24 {
    font-size: 24px !important;
}

.fontlarge {
    font-size: 22px !important;
}

.fontnormal {
    font-size: 20px !important;
}

.fontsmall {
    font-size: 18px;
}

.font18 {
    font-size: 18px;
}

.font16 {
    font-size: 16px;
}

.fonttiny {
    font-size: 14px;
}

.font-xs {
    font-size: 14px;
}

.font-xxs {
    font-size: 12px;
}

.button-worp {
    text-align: center;
}

.button-auto-87 {
    width: 87%;
}

.botton-96 {
    border: 1px solid #26a2ff !important;
    width: 96%;
    margin: 0 2%;
    color: #26a2ff !important;
}

.popup-right {
    width: 100%;
    height: 100%;
    /* top: 75% !important; */
    background-color: white;
}

.mint-cell .mint-cell-wrapper {
    font-size: 16px !important;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.mint-header-f {
    position: fixed !important;
    width: 100% !important;
    left: 0 !important;
    top: -1px !important;
    z-index: 999 !important;
}

.main-f {
    margin-top: 45px;
}

.my-height {
    height: 60px !important;
}

.main-f-2 {
    margin-top: 59px;
}

.popup-scroll {
    overflow: auto !important;
    height: 100% !important;
}

.mint-tabbar.is-fixed {
    z-index: 100 !important;
    padding: 8px 0;
}

.mint-header,
.mint-searchbar {
    background-color: #fff !important;
}

.mint-header .mint-button {
    color: #0089ff !important;
}

.mint-header-title {
    color: #000 !important;
}

.mint-search {
    height: auto !important;
}

.mint-searchbar-inner {
    background: rgba(249, 249, 249, 1) !important;
    height: 43px !important;
    border-radius: 8px !important;
    border: 1px solid rgba(240, 240, 240, 1) !important;
}

.mint-indicator-wrapper {
    z-index: 99999;
}

.mint-indicator-mask {
    z-index: 99999;
}

.viewer-backdrop {
    background-color: rgba(0, 0, 0, .9) !important;
}

.mint-popup {
    width: 100%;
    height: 100%;
    background-color: rgb(32, 20, 20);

}
.mint-popup-bottom{
background: #fff;
}
.mint-msgbox-wrapper {
    z-index: 3000 !important;
}

.mint-msgbox-wrapper~.v-modal {
    z-index: 2999 !important;
}

.mint-popup-50 {
    height: 200px;
}

.button-blue {
    color: #26a2ff;
}

.van-image-preview {
    background: rgba(0, 0, 0, 1);
    z-index: 99999 !important;
}

.van-image-preview__image.file {
    background: #fff !important;
    color: #000 !important;
}

.van-image-preview__image.file .van-image__img {
    width: 100px !important;
    height: 100px !important;
    min-width: 100px;
    max-height: 100px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.file-info {
    color: #000 !important;
    text-align: center;
}

.file-info p {
    margin: 10px 0;
}

.preview-downLoad-btn {
    position: fixed;
    bottom: 60px;
    left: 50%;
    z-index: 999999999999 !important;
    color: #000;
    font-size: 16px;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.page-nb {
    position: fixed;
    bottom: 20px;
    left: 50%;
    z-index: 999999999999 !important;
    color: #fff;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.page-nb .iconfont {
    display: inline-block;
    height: 100%;
    /* width: 50px; */
}

.page-nb .iconjiantou {}

.page-nb .iconjiantou2 {}

.page-nb .img-down {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    right: 10px;
    line-height: 30px;
    transform: translate(0, -50%);
    font-size: 20px;
}

.page-nb.isFile {
    color: #000;
}

.download-container {
    background: #fff;
    color: #000;
    z-index: 999999 !important;
    text-align: center;
}

.download-container .content {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(0, -20%);
}

.download-container .content p {
    margin: 10px 0;
}

.download-container .icon {
    width: 100px;
    height: 100px;
}

.zy-content .flist-container .imgclass {
    height: 100% !important;
}

.mychart-f2 {
    width: 100%;
}

.content-warp {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.empty {
    position: fixed;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #999;
}

.empty>i {
    font-size: 80px;
}

.position-c {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.position-l {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
}

.position-r {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
}

.position-t {
    position: absolute;
    top: 10px;
    left: 0;
}

.position-b {
    position: absolute;
    bottom: 10px;
    left: 0;
}

.position-fb {
    position: fixed;
    width: 100%;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

.mint-toast {
    z-index: 999999 !important;
}

.button-worp button {
    height: 50px;
    line-height: 50px;
    background: none;
    border: 1px solid #0089ff;
    border-radius: 30px;
    color: #0089ff;
}

.button-worp .b {
    background: #0089ff;
    color: #fff;
    border: none;
}

.mint-field-core {
    background: #fff;
}

.reddot-Tips-wrap {
    position: absolute;
}

.reddot-Tips::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    right: -6px;
    top: -10px;
    background: #f00;
    border-radius: 50%;
    z-index: 99;
}

.reddot-Tips2::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    right: -2px;
    top: -5px;
    background: #f00;
    border-radius: 50%;
    z-index: 99;
}

.mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(98, 181, 249, 0.6);
}

.object-fit-img {
    object-fit: contain !important;
}

.van-search__content {
    background: rgba(249, 249, 249, 1) !important;
    border-radius: 8px !important;
    border: 1px solid rgba(240, 240, 240, 1) !important;
}

.search-popup .div_sech .van-search__action {
    color: #0089ff;
}

.iconwangyelianjie {
    color: #8ECBFF;
}

.navbar::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 50%;
    bottom: 0;
    background: #0089FF;
    z-index: 99;
    transform: translate(-50%, 0);
}

.mint-datetime {
    height: 50vh;
}

.mint-loadmore-text {
    font-size: 14px !important;
    color: #999 !important;
}

.scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.scrollingtouch {
    -webkit-overflow-scrolling: touch
}

.overflow-scroll {
    overflow: scroll;
    -webkit-overflow-scrolling: touch
}

.popup-right {
    width: 100%;
    height: 100%;
    background: #fff;
}

.submit-fixed {
    position: fixed;
    width: 100%;
    bottom: 10px;
    left: 0;
}

.no-more {
    text-align: center;
    color: #999;
    padding: 10px 0 20px 0;
}

.van-tab--active .van-tab__text {
    color: #fff;
}

.word-wrap {
    word-wrap: break-word;
}

.mint-loadmore.fileempty .mint-loadmore-content {
    height: 100%;
}